<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<div class="conteiner">
    <div class="text-butt">
   <app-home-text></app-home-text>
    
   <button class="btn">+ Create CV</button>
    </div>
   <div class="steps">
   <h1>How to make your cv?</h1>

    <app-slider class="slider"></app-slider>
    <div class="step-img">
        <img src="https://cvmkr.com/images/slides/1.png" alt="">
        <img src="https://cvmkr.com/images/slides/2.png" alt="">
        <img src="https://cvmkr.com/images/slides/3.png" alt="">

    </div>
    </div>
  


</div>
