<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<div class="centered-component">
<div class="conteiner">
    <div class="text-butt">
   <app-home-text></app-home-text>
    
   <a class="btn"  href="/create/person">+ Create CV</a>
    </div>
   <div class="steps">
   <h1>How to make your cv?</h1>

    <app-slider class="slider"></app-slider>
        <div class="step-img">
            <img class="slide-img" src="https://cvmkr.com/images/slides/1.png" alt="">
            <!-- 
                <img class="slide-img" src="https://cvmkr.com/images/slides/2.png" alt="">
            <img class="slide-img" src="https://cvmkr.com/images/slides/3.png" alt="">
            -->
        </div>
    </div>
</div>
