.sidebar {
  padding: 10px; /* Espacio interior alrededor del contenido */
  width: 300px; /* Ancho deseado */
  height: 160px;
  border-radius: 10px;
  margin: 0px, auto;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  align-items: center; /* Centra verticalmente los elementos hijos, si es necesario */
  height: 100vh; /* Opcional: Esto centra verticalmente si tienes suficiente altura en el contenedor principal */
  background-color: white; /* Establecemos el fondo blanco */
}

.data {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  align-items: center; /* Centra verticalmente los elementos hijos, si es necesario */
  height: 100vh;
  border-color: #0f0f10;
}
/* Estilos para los enlaces de la barra lateral */
.sidebar a {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  color: #333;
  border: 1px solid rgb(37, 36, 36);
  transition: all 0.3s, background-color 0.2s;
}

/* Efecto de aumento de la fuente al pasar el mouse */
.sidebar a:hover {
  font-size: 21px;
  border-radius: 10px;
  margin-right: 40px;
  background-color: #007bff; /* Cambiar el color de fondo al pasar el mouse */
  color: #fff; /* Cambiar el color del texto al pasar el mouse */
}
