<html>
 <head>
 
       <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
        
    
    <div id="container">

      <nav>
        <div id="logo">
          Company
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li class="dropdown"><a href="#">Cursos &nbsp;<i class="fa fa-caret-down"></i></a>
            <div class="dd">
              <div id="up_arrow"></div>
            <ul>
              
              <li><a href="/cursos">2019</a></li>
              <li><a href="/cursos">2018</a></li>
              <li><a href="/cursos">2017</a></li>
            </ul>
            </div>
          </li>
          <li><a href="#">About</a></li>
          <li class="dropdown"><a href="#">Others &nbsp;<i class="fa fa-caret-down"></i> </a>
           <div class="dd">
             <div id="u_a_c"><div id="up_arrow"></div></div>
            <ul>
              
              <li><a href="#">DOCS</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">PROJECTS</a></li>
            </ul>
            </div>
        </ul>
      </nav>
    </div>
  </body>
</html>