<html>
 <head>
 
       <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <header class="header">
    <div class="brand">
    <img src="../../../assets/test-svgrepo-com.svg">
		<h1 class="logo">Generate your CV</h1>
    </div>
      <ul class="main-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="#">Create +</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="#">Register</a></li>
      </ul>
	</header> 
 
</html>