/* Estilos por defecto para pantallas más grandes (mayores de 800px) */
.content-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Estilos para pantallas entre 768px y 800px */
@media screen and (min-width: 768px) and (max-width: 930px) {
  .content-container {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}

/* Estilos para pantallas más pequeñas (como dispositivos móviles) */
@media screen and (max-width: 768px) {
  .content-container {
    margin-top: 300px;
    margin-bottom: 100px;
  }
}
