p{
    text-align:center;
  
  }
  
  @keyframes typing {
      from {
        width: 0;
      }
    }
    
    @keyframes blink-caret {
      0% {
        border-color: transparent;
      }
    }
    /* When you change the amount of characters in the h1, you have to change 
    the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
    if there is 20 put 20 */
    .animation {
      font: bold 200% Consolas, Monaco, monospace;
      font-size: 1.6em;
      border-right: .1em solid black;
      width: 85%;
      margin: 2em 2em;
      white-space: nowrap;
      overflow: hidden;
      -webkit-animation: typing 2s steps(100, end),
                blink-caret .5s step-end infinite alternate;
    }
  
    /* ================================= 
  Media Queries
==================================== */




@media only screen and (min-width: 769px) {
	p{
    text-align:left;
  
  }
  .animation {
  margin: 1em 5em 3em 0em;
   
  }
}